/* Estilos generales */
body {
    background-image: url('https://images4.alphacoders.com/134/thumb-1920-1347180.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    color: #000000;
    margin: 0;
    padding: 0;
    text-align: left;
}

header {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px 0;
    text-align: center;
}

header h1 {
    color: #fff;
    margin: 0;
}

header nav ul {
    list-style-type: none;
    padding: 0;
}

header nav ul li {
    display: inline-block;
    margin-right: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

header nav ul li a:hover {
    color: #e75480;
}

main {
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section {
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #f2f2f2;
}

/* Estilos específicos para los títulos de las secciones */
section h2 {
    color: #6e3179; /* Morado oscuro para los títulos de sección */
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
}

/* Estilos para la tabla en la sección de Educación */
.table-container {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th,
table td {
    padding: 10px;
    text-align: left;
    vertical-align: top;
    border: 1px solid #ddd;
}

table th {
    background-color: #6e3179; /* Morado oscuro para el fondo de los encabezados */
    color: #fff;
    font-weight: bold;
}

table td {
    background-color: rgba(198, 69, 161, 0.7); /* Violeta claro para las celdas */
}

table td ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

table td ul li {
    margin-bottom: 10px;
}

/* Estilo para los puntos de las listas */
ul {
    padding-left: 20px; /* Añadimos padding para que los puntos no se vean cortados */
}

ul li {
    position: relative;
    padding-left: 20px; /* Espacio para los puntos */
}

ul li::before {
    content: '•'; /* El carácter del punto */
    position: absolute;
    left: 0;
    color: #000; /* Color negro para los puntos */
    font-size: 1.4em; /* Tamaño de los puntos */
    line-height: 1.2; /* Alineación vertical de los puntos */
}

/* Estilo para las etiquetas "Aprobado" y "Cursando" */
table th {
    background-color: #6e3179; /* Morado oscuro para los encabezados */
    color: #fff;
}

table td:nth-child(1) {
    background-color: rgba(198, 69, 161, 0.7); /* Violeta claro para la columna "Aprobado" */
}

table td:nth-child(2) {
    background-color: rgba(198, 69, 161, 0.7); /* Violeta claro para la columna "Cursando" */
}

/* Media Queries */
@media (min-width: 1024px) {
    header h1 {
        font-size: 2rem;
    }

    main {
        padding: 2rem 1rem;
        margin: 0 auto;
        max-width: 1000px;
    }

    footer {
        font-size: 1rem;
    }
}

@media (max-width: 1024px) and (min-width: 768px) {
    header h1 {
        font-size: 1.5rem;
    }

    main {
        padding: 1.5rem;
        margin: 0 auto;
        max-width: 90%;
    }

    footer {
        font-size: 0.9rem;
    }
}

@media (max-width: 768px) {
    header h1 {
        font-size: 1.2rem;
    }

    main {
        padding: 1rem;
        margin: 0 auto;
        max-width: 95%;
    }

    footer {
        font-size: 0.8rem;
    }

    section {
        padding: 15px;
        border-radius: 5px;
    }

    table th,
    table td {
        font-size: 0.9rem;
    }
}
